@mixin dark-theme {

  /* 背景 暗黑模式 */
  --ui-bg-primary:    rgba(0, 0, 0, 0.5);
  --ui-bg-glass:      rgba(0, 0, 0, 0.62);
  --ui-bg-glass-blur: blur(37rpx);
  --ui-bg-op-regular: rgba(67, 118, 254, 0.38);
  --ui-bg-pure-primary: #000000;
  --ui-bg-dashboard: rgba(255, 255, 255, 0.1);

  /* 文字 */
  --ui-text-highlight: #FFFFFF;
  --ui-text-regular:   #FFFFFF;
  --ui-text-active:    #FFFFFF;
  --ui-text-inactive:  rgba(255, 255, 255, 0.62);
  --ui-text-regular-2: rgba(255, 255, 255, 0.62);
  --ui-text-regular-3: rgba(255, 255, 255, 0.62);
  --ui-text-regular-4: #000000;

  /* 导航栏 bg*/
  --ui-nav-shadow-bg: rgba(255, 255, 255, 0.1);
  --ui-nav-box-shadow: 0rpx 3.8rpx 11.5rpx rgba(0, 0, 0, 0.2);;

  /* 底部导航栏 */
  --ui-tabbar-bg-primary: rgba(0, 0, 0, 0.618);
  --ui-tabbar-active-color: #00B670;
  --ui-tabbar-text-color: #FFFFFF;

  /* 按钮 */
  --ui-button-blue: rgba(67, 118, 254, 0.618);
  --ui-button-gray: rgba(255, 255, 255, 0.2);
  --ui-button-primary: #000000;

  --ui-button-blue-text: #FFFFFF;
  --ui-button-gray-text: #FFFFFF;
  --ui-button-primary-text: #FFFFFF;

  --ui-button-blue-shadow: inset 0px 3.85rpx 11.5rpx rgba(255, 255, 255, 0.1);
  --ui-button-gray-shadow: none;
  --ui-button-primary-shadow: none;
  --ui-button-primary-border: 3.8rpx solid rgba(255, 255, 255, 0.2);

  /* border */
  --ui-border-regular: solid 3.85rpx rgba(255, 255, 255, 0.2);
  --ui-bottom-border-regular: solid 1.92rpx rgba(0, 182, 112, 0.382);
  --ui-table-border-regular: 1.92rpx solid rgba(255, 255, 255, 0.2);

  /* segmented controller */
  --ui-segment-background: rgba(67, 118, 254, 0.382);
  --ui-segment-active-color: #FFFFFF;
  --ui-segment-active-background: #000000;
  --ui-segment-text-color: rgba(255, 255, 255, 0.62);

  /* card */
  --ui-card-subtitle-color: rgba(255, 255, 255, 0.62);
  --ui-card-glass-background: rgba(0, 0, 0, 0.1);
  --ui-card-small-background: rgba(255, 255, 255, 0.2);
  --ui-card-text-price: #FE8E0B;

  /* nav-tabs */
  --ui-navtabs-shadow: inset 0px 3.84rpx 11.5rpx rgba(255, 255, 255, 0.1);
  --ui-navtabs-time-bg: #00B670;

  /* toast */
  --ui-toast-icon-bg: rgba(0, 0, 0, 0.618);
  --ui-toast-netural-bg: rgba(255, 255, 255, 0.2);
  --ui-toast-blue-bg: rgba(67, 118, 254, 0.382);
  --ui-toast-success-bg: rgba(0, 182, 112, 0.382);
  --ui-toast-warning-bg: rgba(254, 142, 11, 0.382);
  --ui-toast-error-bg: rgba(229, 85, 57, 0.382);

  /* form-switch */
  --ui-switch-before-bg: rgba(255, 255, 255, 0.38);
  --ui-switch-after-color: #000000;

  /* dashboard */
  --ui-dashboard-boxshadow: 0px 3.8rpx 11.5rpx 0px rgba(255, 255, 255, 0.10) inset;

  --ui-activity-list-bg: rgba(255, 255, 255, 0.10);

  /* slider */
  --ui-slider-handle-color: rgba(255, 255, 255, 0.2);
  --ui-slider-track-color: #00B670;
  --ui-slider-thumb-color: #00B670;
}