@mixin light-theme {

  /* 背景 */
  --ui-bg-primary:    #FFFFFF;
  --ui-bg-glass:      rgba(255, 255, 255, 0.62);
  --ui-bg-glass-blur: blur(37rpx);
  --ui-bg-op-regular:    rgba(0, 0, 0, 0.1);
  --ui-bg-pure-primary: #FFFFFF;

  /* 文字 */
  --ui-text-highlight: #4376FE;
  --ui-text-regular:   #000000;
  --ui-text-active:    #000000;
  --ui-text-inactive:  rgba(255, 255, 255, 0.62);
  --ui-text-regular-2: rgba(0, 0, 0, 0.62);
  --ui-text-regular-3: rgba(0, 0, 0, 0.5);
  --ui-text-regular-4: #FFFFFF;

  /* border */
  --ui-border-regular: solid 1.92rpx rgba(0, 0, 0, 0.1);
  --ui-bottom-border-regular: solid 1.92rpx rgba(0, 0, 0, 0.1);

  /* 导航栏 bg */
  --ui-nav-shadow-bg: #FFFFFF;
  --ui-nav-box-shadow: 0rpx 3.8rpx 11.5rpx rgba(0, 0, 0, 0.2);

  /* 底部导航栏 */
  --ui-tabbar-bg-primary: rgba(255, 255, 255, 0.618);
  --ui-tabbar-active-color: #4376FE;
  --ui-tabbar-text-color: rgba(0, 0, 0, 0.618);

  /* 按钮 */
  --ui-button-blue: #4376FE;;
  --ui-button-gray: rgba(0, 0, 0, 0.1);
  --ui-button-primary: #FFFFFF;

  --ui-button-blue-text: #FFFFFF;
  --ui-button-gray-text: #000000;
  --ui-button-primary-text: #000000;

  --ui-button-blue-shadow: 0px 3.85rpx 11.5rpx rgba(67, 118, 254, 0.3);
  --ui-button-gray-shadow: none;
  --ui-button-primary-shadow: 0px 3.85rpx 11.5rpx rgba(0, 0, 0, 0.2);
  --ui-button-primary-border: 1.9rpx solid rgba(0, 0, 0, 0.1);

  /* segmented controller */
  --ui-segment-background: rgba(0, 0, 0, 0.1);
  --ui-segment-active-color: #000000;
  --ui-segment-active-background: #FFFFFF;
  --ui-segment-text-color: rgba(0, 0, 0, 0.62);

  /* card */
  --ui-card-subtitle-color: rgba(0, 0, 0, 0.1);
  --ui-card-glass-background:  rgba(255, 255, 255, 0.5);

  /* nav-tabs */
  --ui-navtabs-shadow: 0px 3.84rpx 11.5rpx rgba(0, 0, 0, 0.2);
  --ui-navtabs-time-bg: #4376FE;

}