/*
 * 以底部为中心点摇摆
 */
.animation-wobble-bottom {
  @include keyframes(wobbleBottom) {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }

    15% {
      transform: translateX(-30rpx) rotate(-6deg);
    }

    30% {
      transform: translateX(15rpx) rotate(6deg);
    }

    45% {
      transform: translateX(-15rpx) rotate(-3.6deg);
    }

    60% {
      transform: translateX(9rpx) rotate(2.4deg);
    }

    75% {
      transform: translateX(-6rpx) rotate(-1.2deg);
    }
  }

  @include show();
  @include animate(wobbleBottom 2s ease 0s normal forwards);
}

/*
 * 以顶部中心点摇摆
 */
.animation-wobble-top {
  @include keyframes(wobbleTop) {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }

    15% {
      transform: translateX(-30rpx) rotate(6deg);
    }

    30% {
      transform: translateX(15rpx) rotate(-6deg);
    }

    45% {
      transform: translateX(-15rpx) rotate(3.6deg);
    }

    60% {
      transform: translateX(9rpx) rotate(-2.4deg);
    }

    75% {
      transform: translateX(-6rpx) rotate(1.2deg);
    }
  }

  @include show();
  @include animate(wobbleTop 2s ease 0s normal forwards);
}

/*
 * 以左侧中心点进行摇摆
 */
.animation-wobble-left {
  @include keyframes(wobbleLeft) {
    0%,
    100% {
      transform: translateY(0%);
      transform-origin: 50% 50%;
    }

    15% {
      transform: translateY(-30rpx) rotate(-6deg);
    }

    30% {
      transform: translateY(15rpx) rotate(6deg);
    }

    45% {
      transform: translateY(-15rpx) rotate(-3.6deg);
    }

    60% {
      transform: translateY(9rpx) rotate(2.4deg);
    }

    75% {
      transform: translateY(-6rpx) rotate(-1.2deg);
    }
  }

  @include show();
  @include animate(wobbleLeft 2s ease 0s normal forwards);
}

.animation-wobble-right {
  @include keyframes(wobbleRight) {
    0%,
    100% {
      transform: translateY(0%);
      transform-origin: 50% 50%;
    }

    15% {
      transform: translateY(-30rpx) rotate(6deg);
    }

    30% {
      transform: translateY(15rpx) rotate(-6deg);
    }

    45% {
      transform: translateY(-15rpx) rotate(3.6deg);
    }

    60% {
      transform: translateY(9rpx) rotate(-2.4deg);
    }

    75% {
      transform: translateY(-6rpx) rotate(1.2deg);
    }
  }

  @include show();
  @include animate(wobbleRight 2s ease 0s normal forwards);
}