[class*='bg-mask'] {

  &::before {
    content: '';
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
  }

  @at-root .bg-mask-80::before {
    background: rgba(0, 0, 0, 0.8) !important;
  }

  @at-root .bg-mask-50::before {
    background: rgba(0, 0, 0, 0.5) !important;
  }

  @at-root  .bg-mask-20::before {
    background: rgba(0, 0, 0, 0.2) !important;
  }

}

@import "vars/colorvars";

.bg-white {
  background-color: $ui-color-white !important;
}

.bg-white {
  @each $class,
  $value in ('60': $ui-color-white-60, '50': $ui-color-white-50, '40': $ui-color-white-40, '30': $ui-color-white-30, '20': $ui-color-white-20, '10': $ui-color-white-10) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

.bg-black {
  background-color: $ui-color-black !important;
}

.bg-black {
  @each $class,
  $value in ('60': $ui-color-black-60, '50': $ui-color-black-50, '40': $ui-color-black-40, '30': $ui-color-black-30, '20': $ui-color-black-20, '10': $ui-color-black-10) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

.bg-blue {
  background-color: $ui-color-blue !important;
}

.bg-blue {
  @each $class,
  $value in ('60': $ui-color-blue-60, '50': $ui-color-blue-50, '40': $ui-color-blue-40, '30': $ui-color-blue-30, '20': $ui-color-blue-20, '10': $ui-color-blue-10) {
    &-#{$class} {
      background-color: $value !important;
      height: 100%;
      width: 100%;
    }
  }
}

.bg-green {
  background-color: $ui-color-green !important;
}

.bg-green {
  @each $class,
  $value in ('60': $ui-color-green-60, '50': $ui-color-green-50, '40': $ui-color-green-40, '30': $ui-color_green-30, '20': $ui-color-green-20, '10': $ui-color-green-10) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

.bg-orange {
  background-color: $ui-color-orange !important;
}

.bg-orange {
  @each $class,
  $value in ('60': $ui-color-orange-60, '50': $ui-color-orange-50, '40': $ui-color-orange-40, '30': $ui-color-orange-30, '20': $ui-color-orange-20, '10': $ui-color-orange-10) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

.bg-red {
  background-color: $ui-color-red !important;
}

.bg-red {
  @each $class,
  $value in ('60': $ui-color-red-60, '50': $ui-color-red-50, '40': $ui-color-red-40, '30': $ui-color_red-30, '20': $ui-color-red-20, '10': $ui-color-red-10) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

.light-bg {
  @each $class,
  $value in ('gray': $ui-light-bg-color-gray, 'yellow': $ui-light-bg-color-yellow, 'blue': $ui-light-bg-color-blue, 'green': $ui-light-bg-color-green, 'pink': $ui-light-bg-color-pink, 'orange': $ui-light-bg-color-orange) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

.dark-bg {
  @each $class,
  $value in ('gray': $ui-dark-bg-color-gray, 'yellow': $ui-dark-bg-color-yellow, 'blue': $ui-dark-bg-color-blue, 'green': $ui-dark-bg-color-green, 'pink': $ui-dark-bg-color-pink, 'orange': $ui-dark-bg-color-orange) {
    &-#{$class} {
      background-color: $value !important;
    }
  }
}

