
/*
   ge-ui基础color配色
 */

/* white */
$ui-color-white: #FFFFFF;
$ui-color-white-60: rgba(255, 255, 255, 0.62);
$ui-color-white-50: rgba(255, 255, 255, 0.5);
$ui-color-white-40: rgba(255, 255, 255, 0.38);
$ui-color-white-20: rgba(255, 255, 255, 0.2);
$ui-color-white-10: rgba(255, 255, 255, 0.1);

/* black */
$ui-color-black: #000000;
$ui-color-black-60: rgba(0, 0, 0, 0.62);
$ui-color-black-50: rgba(0, 0, 0, 0.5);
$ui-color-black-40: rgba(0, 0, 0, 0.38);
$ui-color-black-20: rgba(0, 0, 0, 0.2);
$ui-color-black-10: rgba(0, 0, 0, 0.1);

/* blue primary */
$ui-color-blue: #4376FE;
$ui-color-blue-60: rgba(67, 118, 254, 0.62);
$ui-color-blue-50: rgba(67, 118, 254, 0.5);
$ui-color-blue-40: rgba(67, 118, 254, 0.38);
$ui-color-blue-20: rgba(67, 118, 254, 0.2);
$ui-color-blue-10: rgba(67, 118, 254, 0.1);

/* green primary */
$ui-color-green: #00B670;
$ui-color-green-60: rgba(0, 182, 112, 0.62);
$ui-color-green-50: rgba(0, 182, 112, 0.5);
$ui-color-green-40: rgba(0, 182, 112, 0.38);
$ui-color-green-20: rgba(0, 182, 112, 0.2);
$ui-color-green-10: rgba(0, 182, 112, 0.1);

/* orange primary */
$ui-color-orange: #FE8E0B;
$ui-color-orange-60: rgba(254, 142, 11, 0.62);
$ui-color-orange-50: rgba(254, 142, 11, 0.5);
$ui-color-orange-40: rgba(254, 142, 11, 0.4);
$ui-color-orange-20: rgba(254, 142, 11, 0.2);
$ui-color-orange-10: rgba(254, 142, 11, 0.1);

/* red primary */
$ui-color-red: #E55539;
$ui-color-red-60: rgba(229, 85, 57, 0.62);
$ui-color-red-50: rgba(229, 85, 57, 0.5);
$ui-color-red-40: rgba(229, 85, 57, 0.4);
$ui-color-red-20: rgba(229, 85, 57, 0.2);
$ui-color-red-10: rgba(229, 85, 57, 0.1);

/* light background color */
$ui-light-bg-color-gray: #F5F5F5;
$ui-light-bg-color-yellow: #FEF8EC;
$ui-light-bg-color-blue: #F2F7FD;
$ui-light-bg-color-green: #F2FDF5;
$ui-light-bg-color-pink: #FBF6FD;
$ui-light-bg-color-orange: #FFF7F5;

/* dark background color */
$ui-dark-bg-color-gray: #323232;
$ui-dark-bg-color-yellow: #3D3629;
$ui-dark-bg-color-blue: #29333E;
$ui-dark-bg-color-green: #293E2F;
$ui-dark-bg-color-pink: #38293E;
$ui-dark-bg-color-orange: #3E2E29;


