@import "vars/colorvars";

.header-96 {
  font-weight: 700;
  font-size: 184.6rpx;
  line-height: 125%;
  letter-spacing: -0.015em;
}

.header-60 {
  font-weight: 700;
  font-size: 115.4rpx;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.header-48 {
  font-weight: 700;
  font-size: 92.3rpx;
  line-height: 133%;
  letter-spacing: -0.015em;
}

.header-34 {
  font-weight: 700;
  font-size: 65.4rpx;
  line-height: 130%;
}

.header-24 {
  font-weight: 600;
  font-size: 46.1rpx;
  line-height: 132%;
}

.header-20 {
  font-weight: 600;
  font-size: 38.5rpx;
  line-height: 138%;
}

.sub-title-16 {
  font-weight: 600;
  font-size: 30.8rpx;
  line-height: 150%;
  letter-spacing: 0.005em;
}

.sub-title-14 {
  font-weight: 600;
  font-size: 26.9rpx;
  line-height: 142%;
  letter-spacing: 0.005em;
}

.text-body-16 {
  font-weight: 400;
  font-size: 30.8rpx;
  line-height: 150%;
  letter-spacing: 0.0168em;
}

.text-body-14 {
  font-weight: 400;
  font-size: 26.9rpx;
  line-height: 142%;
  letter-spacing: 0.0168em;
}

.text-body-caps-14 {
  font-weight: 600;
  font-size: 30.8rpx;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.text-body-12 {
  font-weight: 400;
  font-size: 23.1rpx;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.text-body-10 {
  font-weight: 600;
  font-size: 19.2rpx;
  line-height: 158%;
  letter-spacing: 0.15em;
}

.text {
  @each $class,
  $value in ('white': $ui-color-white, 'black': $ui-color-black, 'blue': $ui-color-blue, 'green': $ui-color-green, 'orange': $ui-color-orange, 'red': $ui-color-red) {
    &-#{$class} {
      color: $value !important;
    }
  }
}

.text-align {
  @each $class,
  $value in ('center': center, 'left': left, 'right': right) {
    &-#{$class} {
      text-align: $value;
    }
  }
}