
@import 'vars/colorvars';

.black-shadow-sm {
  box-shadow: 0px 3.8rpx 11.5rpx $ui-color-black-20;
}

.black-shadow-reg {
  box-shadow: 0px 23.1 rpx 46.2 rpx $ui-color-black-20;
}

.black-shadow-lg {
  box-shadow: 0px 46.2rpx 92.3rpx $ui-color-black-20;
}

.green-shadow-sm {
  box-shadow: 0px 3.8rpx 11.5rpx $ui-color-green-30;
}

.green-shadow-reg {
  box-shadow: 0px 23.1rpx 46.2rpx $ui-color-green-30;
}

.green-shadow-lg {
  box-shadow: 0px 46.2rpx 92.3rpx $ui-color-green-30;
}

.blue-shadow-sm {
  box-shadow: 0px 3.8rpx 11.5rpx $ui-color-blue-30;
}

.blue-shadow-reg {
  box-shadow: 0px 23.1rpx 46.2rpx $ui-color-blue-30;
}

.blue-shadow-lg {
  box-shadow: 0px 46.2rpx 92.3rpx $ui-color-blue-30;
}

.orange-shadow-sm {
  box-shadow: 0px 3.8rpx 11.5rpx $ui-color-orange-30;
}

.orange-shadow-reg {
  box-shadow: 0px 23.1rpx 46.2rpx $ui-color-orange-30;
}

.orange-shadow-lg {
  box-shadow: 0px 46.2rpx 92.3rpx $ui-color-orange-30;
}


