@import "mixin";
@import "theme/dark";
@import "theme/light";
@import "icons/phicons";
@import "components/basenav";
@import "components/margin";
@import "components/flex";
@import "color";
@import "font";

.theme-dark {
  @include dark-theme;
  background: #000000;
}

.theme-light {
  @include light-theme;
  background-image: url("https://mp-c639d255-1c45-4802-946b-874beaaa72cd.cdn.bspapp.com/cloudstorage/fe83938a-0db6-4d15-a0db-f86376ab9680.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'ui-num',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

button::after {
  border: none;
}