@import "mixin";
@import "theme/dark";
@import "theme/light";
@import "icons/phicons";
@import "basic/page";
@import "basic/flex";
@import "basic/grid";
@import "basic/list";
@import "components/basenav";
@import "components/margin";
@import "components/button";
@import "components/avatar";
@import "components/form";
@import "components/card";
@import "components/toast";
@import "components/modal";
@import "background";
@import "shadow";
@import "font";
@import "animation/_animation";

view {
  box-sizing: border-box;
}

.theme-dark {
  @include dark-theme;
  // background-image: url("https://mp-093771b9-58d4-4c63-982d-8d3dc351dede.cdn.bspapp.com/pics/back3.png");
  background-color: #383a3f;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  transition: background, background-color 1.5s ease-out;
}

.theme-light {
  @include light-theme;
  background-image: url("https://mp-093771b9-58d4-4c63-982d-8d3dc351dede.cdn.bspapp.com/pics/bg-white-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  transition: background 1.5s ease-out;
}

body {
  font-family: 'ui-num',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30rpx;
  padding-right: 30rpx;
  max-width: 1440px;

  &-fluid {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}


button::after {
  border: none;
}