.ui-image {
  &.shadow {
    -webkit-filter: var(--ui-image-shadow);
    filter: var(--ui-image-shadow);
  }

  &.filter-blur {
    -webkit-filter: blur(8rpx);
    filter: blur(8rpx);
  }

  &.filter-gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}