.ui-page {
  color: var(--ui-text-regular);
  position: relative;
  display: flex;
  -webkit-overflow-scrolling: touch;

  &-body {
    flex: 1;
    min-height: 100vh;
    position: relative;
    color: var(--ui-text-regular);
    z-index: 1024;
    background: transparent;
    -webkit-backdrop-filter: var(--ui-bg-glass-blur);

  }

  &-back {
    height: 100%;
    background-color: var(--ui-bg-glass);
    width: 100%;
    z-index: 1023;
    position: absolute;
    top: 0;
    backdrop-filter: blur(20rpx);
  }

}