.ui-header-content {
  display: flex;
  align-items: flex-end;
  z-index: 1024;
  height: 100%;

  .header-button {
    font-size: 40rpx;
    color: var(--ui-text-highlight);
    position: absolute;
    left: 20rpx;
    display: flex;
    align-items: center;
    z-index: 1021;
  }

  .title {
    font-size: 30rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1020;
  }

  .custom-title {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 1020;
  }

  .fix-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20rpx;
    width: 100%;
  }
}