.ui-header-content {
  display: flex;
  align-items: flex-end;
  z-index: 1024;
  height: 100%;

  .header-button {
    font-size: 40rpx;
    color: var(--ui-text-highlight);
    position: absolute;
    left: 20rpx;
    display: flex;
    align-items: center;
    z-index: 2068;
    height: inherit;

    text {
      font-size: 30rpx;
      display: flex;
      align-items: center;
    }
  }

  .custom-left {
    position: absolute;
    /* 支付宝小程序不可以隐藏 "<" 按钮，所以向右侧留出相应的位置 */
    /* #ifndef MP-ALIPAY */
    left: 20rpx;
    /* #endif */
    /* #ifdef MP-ALIPAY */
    left: 40rpx;
    /* #endif */
    display: flex;
    height: inherit;
    align-items: center;
    z-index: 2068;
  }

  .title {
    font-size: 30rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1024;
    height: inherit;
  }

  .custom-title {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 1024;
    height: inherit;
  }

  .fix-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 8rpx;
  }
}