.ui-card {
  margin-top: 30.8rpx;
  z-index: 0;

  &.compact {
    height: 555rpx;
  }

  .card-tag {
    position: absolute;
    left: 50rpx;
    height: 46.2rpx;
    width: auto;
    min-width: 100rpx;
    font-style: normal;
    font-weight: 400;
    font-size: 23.1rpx;
    line-height: 130%;
    margin-top: 15.4rpx;

    background-color: #00B670;
    border-radius: 999rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
  }

  .card-button {
    position: absolute;
    right: 50rpx;
    margin-top: 15.4rpx;
    z-index: 1;
  }


  .card-image {
    display: flex;
    align-items: center;
    justify-content: center;

    img, image {
      width: 688rpx;
      height: 544rpx;
      border-radius: 19.2rpx;
    }

  }

  .cover-content {
    position: relative;
    top: -205rpx;
    width: 100%;
    height: 215.4rpx;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    .background {
      z-index: -1;
      position: absolute;
      background: var(--ui-card-glass-background);
      backdrop-filter: blur(36.7rpx);
      width: 688rpx;
      height: 215.4rpx;
      border-radius: 0px 0px 19.2rpx 19.2rpx;
    }

    .title {
      margin-top: 23.1rpx;
      width: 642.3rpx;
      height: 53.8rpx;
      font-style: normal;
      font-weight: 600;
      font-size: 38.5rpx;
      line-height: 135%;
      color: var(--ui-text-regular);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sub-title {
      margin-top: 15.4rpx;
      font-style: normal;
      font-weight: 400;
      height: 46.2rpx;
      width: 642.3rpx;
      font-size: 30.8rpx;
      line-height: 150%;
      letter-spacing: 0.0168em;
      color: var(--ui-card-subtitle-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .spec-info {
      margin-top: 15.4rpx;
      font-style: normal;
      font-weight: 400;
      height: 38.5rpx;
      font-size: 26.9rpx;
      line-height: 142%;
      color: var(--ui-text-regular);
      width: 642.3rpx;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      margin-top: 23.1rpx;
      width: 688rpx;
      font-style: normal;
      font-weight: 600;
      font-size: 38.5rpx;
      line-height: 135%;
      color: var(--ui-text-regular);
    }

    .sub-title {
      margin-top: 15.4rpx;
      font-style: normal;
      font-weight: 400;
      width: 688rpx;
      font-size: 30.8rpx;
      line-height: 150%;
      letter-spacing: 0.0168em;
      color: var(--ui-card-subtitle-color);
    }

    .spec-info {
      margin-top: 15.4rpx;
      font-style: normal;
      font-weight: 400;
      font-size: 26.9rpx;
      line-height: 142%;
      color: var(--ui-text-regular);
      width: 688rpx;
    }
  }
}

.float-button {
  position: fixed;
  right: 30rpx;
  bottom: 180rpx;
  z-index: 1;
}

.ui-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* 后期需要处理掉 */
  margin-top: 40rpx;

  .body {
    background: var(--ui-card-small-background);
    width: 688rpx;
    height: 431rpx;
    border-radius: 38.5rpx;
    backdrop-filter: blur(38.5rpx);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .content {
      height: 385rpx;
      width: 427rpx;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .tag {
        width: 183rpx;
        height: 46rpx;
        border-radius: 999px;
        margin-bottom: 26rpx;
        font-style: normal;
        font-weight: 700;
        font-size: 23rpx;
        line-height: 130%;
        color: var(--ui-text-regular);
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 38.5rpx;
        line-height: 138%;
        color: var(--ui-text-regular);
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .spec {
        margin-top: 15.4rpx;
        font-style: normal;
        font-weight: 400;
        font-size: 27rpx;
        line-height: 142%;
      }

      .score {
        margin-top: 15.4rpx;
        font-style: normal;
        font-weight: 600;
        font-size: 27rpx;
        line-height: 142%;
        display: flex;
      }

      .operate {
        height: 77rpx;
        margin-top: 27rpx;

        button {
          width: 217rpx;
          height: 77rpx;
          position: absolute;
          border: var(--ui-button-primary-border);
        }
      }
    }

    .content-image {
      width: 185rpx;
      height: 308rpx;

      img, image {
        width: 100%;
        height: 100%;
        border-radius: 19.2rpx;
      }
    }
  }
}

.ui-card-grid {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  column-gap: 15rpx;
  row-gap: 15rpx;

  .grid-card-item {
    width: 337rpx;
    height: 337rpx;
    position: relative;

    img, image {
      width: 337rpx;
      height: 337rpx;
      border-radius: 11rpx;
    }

    .card-content {
      left: 11rpx;
      bottom: 5rpx;
      position: absolute;

      .card-title {
        font-style: normal;
        font-weight: 600;
        font-size: 38.4rpx;
        line-height: 138%;
        color: #FFFFFF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 330rpx;
        display: block;
      }

      .card-sub {
        font-style: normal;
        font-weight: 400;
        font-size: 23rpx;
        line-height: 130%;
        color: var(--ui-text-regular-3);
        width: 330rpx;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }
}

.ui-card-shopping {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  column-gap: 15rpx;
  row-gap: 15rpx;

  .shopping-card-item {
    width: 337rpx;

    img, image {
      width: 337rpx;
      height: 337rpx;
      border-radius: 11rpx;
    }

    .card-content {
      position: relative;

      .card-title {
        font-style: normal;
        font-weight: 600;
        font-size: 30rpx;
        line-height: 150%;
        color: var(--ui-text-regular);
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .card-sub {
        font-style: normal;
        font-weight: 400;
        font-size: 27rpx;
        line-height: 142%;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .card-price {
        font-style: normal;
        font-weight: 600;
        font-size: 38rpx;
        line-height: 138%;

        .original-price {
          text-decoration: line-through;

          &::before {
            content: '¥';
          }

          + .promote-price {
            color: var(--ui-card-text-price);
          }
        }

        .promote-price {
          color: var(--ui-text-regular);
          &::before {
            content: '¥';
          }
        }
      }

      .card-score {
        font-style: normal;
        font-weight: 400;
        font-size: 23rpx;
        line-height: 130%;
        color: var(--ui-text-regular-3);
        display: flex;
      }
    }
  }
}