.ui-form-group {
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &.form-valid {
    .form-alert {
      font-style: normal;
      font-weight: 400;
      font-size: 23rpx;
      line-height: 130%;
      color: red;
      padding-left: 20rpx;
      padding-top: 5rpx;
    }

    &.form-error {
      .form-main {
        input {
          border: 3rpx solid rgba(229, 85, 57, 0.618);
        }

        &:after {
          font-family: 'Phosphor';
          content: '\edc0';
          position: absolute;
          right: 30rpx;
          z-index: 1024;
          font-size: 38rpx;
          color: rgba(229, 85, 57, 0.618);
        }
      }
    }

    &.form-success {
      .form-main {
        input {
          border: 3rpx solid rgba(0, 182, 112, 0.5);
        }

        &:after {
          font-family: 'Phosphor';
          content: '\ea30';
          position: absolute;
          right: 30rpx;
          z-index: 1024;
          font-size: 38rpx;
          color: rgba(0, 182, 112, 0.5);
        }
      }
    }
  }

  &.top-title {
    flex-direction: column;
    align-items: start;
    .form-title {
      position: relative;
      background-color: transparent;
      top: 0;
      left: 0;
    }
  }

  .form-main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    &.round {
      input {
        border-radius: 99px;
      }
    }

    input {
      height: 92rpx;
      border: 2rpx solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 4rpx 11rpx rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(19.8rpx);
      border-radius: 17rpx;
      padding-left: 23rpx;
      position: relative;
      flex: 1;
      font-size: 32rpx;
    }

    text[class*="ph-"] {
      padding-left: 15rpx;
      position: absolute;
      z-index: 1024;
      font-size: 32rpx;
      color: #7F7F7F;
      font-weight: 600;
      &.right {
        right: 20rpx;
        + input {
          padding-left: 23rpx;
        }
      }

      + input {
        padding-left: 50rpx;
      }
    }
  }


  .form-title {
    border-radius: 7.7rpx;
    top: -20rpx;
    left: 23rpx;
    position: absolute;
    z-index: 1024;
    height: 46rpx;
    font-style: normal;
    font-weight: 400;
    font-size: 27rpx;
    line-height: 142%;
    background-color: var(--ui-bg-primary);
    padding: 3.8rpx 7.7rpx 3.8rpx 7.7rpx;
  }

}
