.ui-page {
  color: var(--ui-text-regular);
  position: relative;
  display: flex;
  -webkit-overflow-scrolling: touch;

  &-body {
    flex: 1;
    min-height: 100vh;
    position: relative;
    background-color: var(--ui-bg-glass);
    color: var(--ui-text-regular);
    z-index: 1024;
    -webkit-backdrop-filter: var(--ui-bg-glass-blur);
  }

}